.ngblog-site-header {
  z-index: 2;
  font-size: 0.9em;
  min-height: 48px;
  max-height: 48px;
}
.ngblog-site-footer {
  z-index: 2;
  font-size: 0.85em;
  min-height: 42px;
  max-height: 42px;
}

.ngblog-entry-headers-align .mat-expansion-panel-header-title, 
.ngblog-entry-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.ngblog-entry-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.ngblog-summary-content {
  display: flex;
  /* float: left; */
  /* clear: none; */
  /* overflow:hidden; */
}
.ngblog-thumbnail-block {
  display:inline-block; 
  width:160px; 
  /* margin: 16px 16px 8px 0px; */
  /* padding: 8px; */
  text-align:left; 
  vertical-align:top;
}
.ngblog-summary-block {
  display:inline-block; 
  margin: 8px;
  margin-top: 0px;
  text-align:left; 
  vertical-align:top;
}
