.ngblog-permalink-header {
  z-index: 2;
  font-size: 0.9em;
  min-height: 48px;
  max-height: 48px;
}
.ngblog-permalink-footer {
  z-index: 2;
  font-size: 0.85em;
  min-height: 36px;
  max-height: 36px;
}
