.ngblog-permalink-body {
  /* margin: 48px; */
}
.ngblog-permalink-entry {
  margin: 12px; 
  padding-top: 4px; 
  padding-bottom: 8px;
}
.ngblog-disqus-thread {
  margin: 24px 8px 4px 8px; 
  padding-top: 8px; 
  padding-bottom: 0px;
}
.ngblog-permalink-header {
  z-index: 2;
  font-size: 0.9em;
  min-height: 48px;
  max-height: 48px;
}
.ngblog-permalink-footer {
  z-index: 2;
  font-size: 0.85em;
  min-height: 42px;
  max-height: 42px;
}
