<div>

  <mat-toolbar class="ngblog-admin-header" layout="row" color="primary">
    <mat-toolbar-row>
      <span style="font-weight: bold;">Admin Panel</span>
      <span style="flex: 1 1 auto"></span>
      <button mat-icon-button color="" matTooltip="Home" (click)="navigateHome()">
        <mat-icon>home</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div style="padding-top: 16px; padding-bottom: 16px; text-align: center;">


    <mat-card class="ngblog-admin-card">
      <mat-card-header>
        <mat-card-title>Admin/Author Interface</mat-card-title>
        <mat-card-subtitle>-Work in progress-</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Manage your ngblog.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" [disabled]="!hasValidAdminToken" (click)="navigatePostWriter()">Post Writer</button>
        <button mat-button color="primary" [disabled]="!hasValidAdminToken" (click)="navigateSitemapGenerator()">Sitemap Generator</button>
        <button mat-button color="primary" [disabled]="!hasValidAdminToken" (click)="navigateConfigView()">App Config</button>
      </mat-card-actions>
    </mat-card>    
    

  </div>

  <mat-toolbar class="ngblog-admin-footer" layout="row" color="accent">
    <mat-toolbar-row>
      <span style="font-style: italic; font-size:0.9em;">Copyright &copy;
        <common-date-year></common-date-year></span>
      <span style="flex: 1 1 auto"></span>
      <span style="font-style: italic; font-size:0.85em;">-admin-</span>
    </mat-toolbar-row>
  </mat-toolbar>

</div>