<div>

  <mat-toolbar class="ngblog-digest-header" layout="row" color="primary">
    <mat-toolbar-row>
      <span style="font-weight: bold;">{{siteInfo.name}} - {{monthDateLabel}}</span>
      <span style="flex: 1 1 auto"></span>
      <button mat-icon-button color="" matTooltip="Home" (click)="navigateHome()">
        <mat-icon>home</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div style="padding-top: 16px; padding-bottom: 16px; text-align: center;">

    <mat-card *ngFor="let mde of docEntries; let i = index" class="ngblog-monthly-digest-card">
      <mat-card-header>
        <mat-card-title>{{(mde.date) ? mde.date.toLocaleDateString() : ''}} - {{mde.title}}
        <button color="primary" *ngIf="mde.hasContent" mat-icon-button matTooltip="Read more" (click)="openContentPage(i);">
          <mat-icon>message</mat-icon>
        </button>
      </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="ngblog-digest-summary-block">
          <common-mark-entry [delay]="delayInterval" [url]="mde.summaryUrl" [markdown]="mde.summaryContent" [img-prefix]="mde.imgPrefix"
            [debug-enabled]="mde.debugEnabled" [renderer-options]="mde.rendererOptions"></common-mark-entry>
        </div>
      </mat-card-content>
    </mat-card>

    <div *ngIf="isEmpty">
      <mat-card class="ngblog-monthly-digest-card">
        <mat-card-content>
          <div class="ngblog-digest-summary-block">
            <span style="font-size:1.1em;">No posts found</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <mat-toolbar class="ngblog-digest-footer" layout="row" color="accent">
    <mat-toolbar-row>
      <span style="font-style: italic; font-size:0.9em;">Copyright &copy;
        <common-date-year></common-date-year> {{siteInfo.name}}</span>
      <span style="flex: 1 1 auto"></span>
      <span style="font-style: italic; font-size:0.9em;">
        <button mat-icon-button color="primary" [disabled]="!canDoNextMonth" matTooltip="More Recent" (click)="navigateNextMonth()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button mat-icon-button color="primary" [disabled]="!canDoPreviousMonth" matTooltip="Previous Month" (click)="navigatePreviousMonth()">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>

</div>